<div class="container">
  <form role="form">

<div class="row">
  <div class="col-xs-6 col-md-4"><label for="input-resource">Resource</label><input id="input-resource" type="text" class="form-control" ng-model="resource" ng-change="update()" placeholder="eg. web01" required></div>
  <div class="col-xs-6 col-md-4"><label for="input-event">Event</label><input id="input-event" type="text" class="form-control" ng-model="event" ng-change="update()" placeholder="eg. HttpServerError" required></div>
  <div class="col-xs-6 col-md-4"><label for="input-environment">Environment</label><input id="input-environment" type="text" class="form-control" ng-model="environment" ng-change="update()" placeholder="eg. Production or Development"></div>
</div>

<div class="row">
  <div class="col-xs-3 col-md-2"><label for="input-severity">Severity</label><input id="input-severity" type="text" class="form-control" ng-model="severity" ng-change="update()" placeholder="eg. ~critical|major"><p class="help-block">critical, major, minor, warning</p></div>
  <div class="col-xs-3 col-md-2"><label for="input-status">Status</label><input id="input-status" type="text" class="form-control" ng-model="status" ng-change="update()" placeholder="eg. open"><p class="help-block">open (default), ack or closed</p></div>
  <div class="col-xs-6 col-md-4"><label for="input-severity">Correlate</label><input id="input-correlate" type="text" class="form-control" ng-model="correlate" ng-change="update()" placeholder="eg. NodeUp,NodeDown,NodeThing"><p class="help-block">Comma-separated list of events</p></div>
  <div class="col-xs-6 col-md-4"><label for="input-services">Services</label><input id="input-services" type="text" class="form-control" ng-model="services" ng-change="update()" placeholder="eg. Website or Platform"><p class="help-block">Comma-separated list of services</p></div>
</div>

<div class="row">
  <div class="col-xs-3 col-md-2"><label for="input-value">Group</label><input id="input-group" type="text" class="form-control" ng-model="group" ng-change="update()" placeholder="eg. Web"></div>
  <div class="col-xs-3 col-md-2"><label for="input-value">Value</label><input id="input-value" type="text" class="form-control" ng-model="value" ng-change="update()" placeholder="eg. 100% or 5ms"></div>
  <div class="col-xs-6 col-md-4"><label for="input-text">Text</label><input id="input-text" type="search" class="form-control" ng-model="text" ng-change="update()"><p class="help-block">Regex match is enabled</p></div>
  <div class="col-xs-6 col-md-4"><label for="input-tags">Tags</label><input id="input-tags" type="text" class="form-control" ng-model="tags" ng-change="update()" placeholder="eg. london,frontend,dc1"><p class="help-block">Comma-separated list of tags</p></div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4"><label for="input-attributes">Custom Attributes</label><input id="input-attributes" type="text" class="form-control" ng-model="attributes" ng-change="update()" placeholder="eg. key=value,foo=bar"></div>
  <div class="col-xs-3 col-md-2"><label for="input-origin">Origin</label><input id="input-origin" type="text" class="form-control" ng-model="origin" ng-change="update()"></div>
  <div class="col-xs-3 col-md-2"><label for="input-type">Type</label><input id="input-type" type="text" class="form-control" ng-model="type" ng-change="update()"></div>
  <div class="col-xs-6 col-md-4"><label for="input-api-key">API Key</label><input id="input-api-key" type="text" class="form-control" ng-model="apikey" ng-change="update()" placeholder="demo-key"></div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4"><label for="input-alert-id">Alert ID</label><input id="input-alert-id" type="text" class="form-control" ng-model="alertid" ng-change="update()" placeholder="eg. f89b6118"></div>
  <div class="col-xs-6 col-md-4"><label for="input-from-date">From Date</label><input id="input-from-date" type="datetime" class="form-control" ng-model="fromdate" ng-change="update()" placeholder="eg. 2014-08-19T20:55:07.963Z"></div>
  <div class="col-xs-3 col-md-2"><label for="input-limit">Limit</label><input id="input-limit" type="number" class="form-control" ng-model="limit" ng-change="update()"></div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4"><label for="input-trend-indication">Trend Indication</label><input id="input-trend-indication" type="text" class="form-control" ng-model="trend" ng-change="update()" placeholder="eg. moreSevere, lessSevere or noChange"></div>
  <div class="col-xs-3 col-md-2"><label for="input-prev-severity">Previous Severity</label><input id="input-prev-severity" type="text" class="form-control" ng-model="previous" ng-change="update()"></div>
  <div class="col-xs-3 col-md-2"><label for="input-type">Duplicate Count</label><input id="input-type" type="number" class="form-control" ng-model="duplcount" ng-change="update()"></div>
</div>

</form>

<hr>
<div>
<h5><a href="{{ query }}" target="_blank">{{ query }}</a></h5>
</div>

<div>
<pre>{{ response | json }}</pre>
</div>

</div>
